[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
yapf = "*"
rope = "*"

[packages]
importlib-metadata = "==1.7.0"
docopt = "*"
pillow = "*"
google-cloud-automl = "*"

[requires]
python_version = "3.6"
